*{
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
}

img{
    background-color: white;
}

body{
    margin: 0 auto;
}

header{
    position: sticky;
    top: 0;
}

header nav{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    height: 6em;
}

header nav div ul{
    display: flex;
    flex-direction: row;
}

header nav div ul li {
    list-style-type: none;
    margin: 0 1em;
}

header nav div ul li a:hover{
    color: #0070f3;
    transition: all 0.2s;
}

header nav div ul li a{
    text-decoration: none;
    color: white;
}

header nav .nav-derecha ul li {
    border: 1.2px solid white;
    padding: .6em 1em;
    border-radius: 9px;
    color: white;
}

header nav .nav-derecha ul li:hover{
    background-color: #0071f334;
    border: solid 1px #0070f3;
    transition: all 0.2s;
}

/* ===== FOOTER GENERAL ===== */
footer {
    background-color: rgb(12, 12, 12);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
}

/* ===== CONTENEDOR PRINCIPAL ===== */
#contfooter {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* ===== MENÚ ===== */
#menu {
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
}

#menu ul {
    list-style: none;
    padding: 0;
}

#menu ul li {
    padding: 1.5em;
    text-align: center;
}

/* ===== DETALLES ===== */
#detalles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
}

/* ===== INFORMACIÓN ===== */
#informacion {
    display: flex;
    justify-content: center;
    margin: 1em auto;
}

#informacion div,
#social div {
    padding: 0 5em;
}

#informacion svg {
    margin-right: 0.5em;
}

#direccion a,
#tel a {
    display: flex;
    align-items: center;
}

/* ===== MAPA ===== */
#mapa {
    display: flex;
    justify-content: center;
}

#mapa iframe {
    width: 90%;
}

/* ===== REDES SOCIALES ===== */
#social {
    display: flex;
    justify-content: center;
    margin: 1em auto;
}

/* ===== LINKS ===== */
#menu a,
#informacion a,
#social a {
    color: white;
    text-decoration: none;
}

/* ===== DERECHOS ===== */
#derechos {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: black;
    padding: 1em;
}