/* ----> ESTILOS GENERALES PARA TODA LA WEB <---- */
*{
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: black;
    margin: 0 auto;
    color: white;
}

h1{
    margin-bottom: 0.1em;
    font-size: 5em;
    text-align: center;
}

h1:hover{
    color: #0070f3;
    transition: all 0.13s;
}

h2{
    text-align: center;
    padding: 0.5em 0;
    background-color: #0070f3;
    color: white;
    width: 100%;
}

h3{
    text-align: center;
    margin-bottom: 1em;
    font-size: 2.9em;
    color: black;

}


h3:hover{
    color: #0070f3;
    transition: all 0.13s;
}

h4{
    font-size: 2.5em;
    color: black;
}

p{
    color: black;
}

/* -- BOTON PARA LAS CONFIRMACIONES -- */
.boton{
    margin: 0 9em;
    border: solid 1px #0070f3;
    background-color: #0071f334;
    padding: .6em 1em;
    border-radius: 9px;
    color: white;
    text-align: center;
}

.boton:hover{
    background-color: #0070f3;
    transition: all 0.13s;
}
.boton a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* ESTILO PARA TODOS LOS FORMULARIOS */
form{
    width: 30em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3em 2em;
}

/* FONDO PARA LOS ARTICULOS */
article{
    background-color: white;
}

/* ESTILO PARA LOS SELECTS DE LOS FORMULARIOS */
select{
    padding: .4em;
    border-radius: 5px;
    border: solid 1px #ccc;
    font-size: 0.85em;
}

select:focus{
    outline: none;
    border: solid 1px #0070f3;
    transition: all 0.13s;
    box-shadow: #0070f3 0px 0px 5px;
}

/* NAVBAR */
header{
    position: sticky;
    top: 0;
    z-index: 1;
}

header nav{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    opacity: 0.91;
    height: 5em;
}

header nav div{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

header nav div ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 60%;
}

header nav div ul li {
    list-style-type: none;
    margin: 0 1em;
    height: 80%;
    display: flex;
    align-items: center;
}

header nav div ul li a:hover{
    color: #0070f3;
    transition: all 0.13s;
}

header nav div ul li a{
    text-decoration: none;
    color: white;
    text-align: center;
}

/* NAV PARTE DERECHA */
header nav .nav-derecha ul li {
    border: solid 1px white;
    background-color: rgba(255, 255, 255, 0.106);
    padding: .6em 0.8em;
    border-radius: 9px;
    color: white;
    margin: 0 0.5em;
}

header nav .nav-derecha ul li:hover{
    border: solid 1px #0070f3;
    background-color: #0071f334;
    transition: all 0.13s;
}

header nav .nav-derecha ul li a:hover{
    color: white;
}

/* FOOTER GENERAL */
footer {
    background-color: rgb(12, 12, 12);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
}

footer p{
    color: white;
}

/* CONTENEDOR PRINCIPAL */
#contfooter {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* MENÚ DEL FOOTER */
#menu {
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
}

#menu ul {
    list-style: none;
    padding: 0;
}

#menu ul li {
    padding: 1.5em;
    text-align: center;
}

/* DETALLES */
#detalles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
}

/* NUMERO DE TELEFONO Y DIRECCIÓN */
#informacion {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 1em auto;
}

#informacion svg {
    margin-right: 0.5em;
}

#direccion a,
#tel a {
    display: flex;
    align-items: center;
}

/* MAPA */
#mapa {
    display: flex;
    justify-content: center;
}

#mapa iframe {
    width: 90%;
}

/* REDES SOCIALES */
#social {
    display: flex;
    justify-content: space-around;
    margin: 1em auto;
    width: 100%;
}

/* LINKS */
#menu a,
#informacion a,
#social a {
    color: white;
    text-decoration: none;
}

#menu a:hover,
#informacion a:hover,
#social a:hover {
    color: #0070f3;
    text-decoration: none;
}

/* DERECHOS (FINAL DEL FOOTER) */
#derechos {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: black;
    padding: 1em;
}

/* ESTILOS PARA TODOS LOS FORMULARIOS */
.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../Multimedia/Imagenes/fondo-forms.png);
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: white;
}

.formulario label{
    font-size: .9em;
    font-weight: bold;
    line-height: 2;
    color: black;
}
.formulario input, 
.formulario textarea, 
.formulario select{
    margin-bottom: 2em;
    width: 100%;
    color: black;
    background-color: transparent;
    border: solid 1px black;
    padding: 0.4em;
}

.formulario form p a{
    color: #0070f3;
    text-decoration: none;
}

.formulario form p a:hover{
    text-decoration: underline;
    transition: all 0.13s;
}

.formulario form .enviar{
    margin-top: .5em;
    width: 40%;
    background-color: #036bd3;
    border: 1px solid #0070f3;
    padding: .7em 1.5em;
    border-radius: 9px;
    font-weight: bold;
    color: white;
}

.formulario form .enviar:hover{
    border: solid 1px #0070f3;
    background-color: #0071f3b5;
    transition: all 0.13s;

}

.formulario form .eliminar{
    color: black;
    border: 1px solid black;
    padding: .7em 1.5em;
    width: 40%;
    border-radius: 9px;
    font-weight: bold;
}

.formulario form .eliminar:hover{
    background-color: white;
    transition: all 0.13s;
}

.formulario textarea{
    height: 10em;
    resize: none;
}

.formulario input, 
.formulario select, 
.formulario textarea{
    padding: .9em;
    border-radius: 5px;
    border: solid 1px #ccc;
    font-size: 0.85em;
}

.formulario input:focus, 
.formulario select:focus, 
.formulario textarea:focus{
    outline: none;
    border: solid 1px #0070f3;
    transition: all 0.13s;
    box-shadow: #0070f3 0px 0px 5px;
}

.formulario form .union{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}

.formulario form .union input{
    width: 10%;
    margin-bottom: 0;
}

.formulario form .union label{
    width: 90%;
    margin-bottom: 0;
}

.formulario form p{
    margin-bottom: 1em;
    text-align: center;
    color: black;
    font-size: 1.1em;
}

.formulario form p small{
    color: black;
    text-align: left;
}

.formulario form .datos-bancarios{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.formulario form .datos-bancarios div{
    width: 48%;
}

/* ESTILO DE BOTON PARA LAS PAGINAS DE CONFIRMACIÓN */
.boton-formulario{
    display: inline-block;
    text-align: center;
    margin-top: 1em;
    background-color: #036bd3;
    border: 1px solid #0070f3;
    padding: .6em 3em;
    border-radius: 9px;
    font-weight: bold;
    color: white;
}
.boton-formulario:hover{
    border: solid 1px #0070f3;
    background-color: #0071f3b5;
    transition: all 0.13s;
}

.boton-formulario a{
    font-size: .85em;
    text-decoration: none;
    color: white;
}


/* ----> PARTES EXCLUIVAS DE CADA PAGINA <---- */

/* ESTILOS PARA LA PAGINA INDEX */
/* MAIN DE INDEX*/
main .cabecera-principal{
    height: 450px;
    background-image: url(../Multimedia/Imagenes/escritorio-main.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 2500px auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .cabecera-principal p{
    font-weight: 100;
}

main .cabecera-principal div{
    width: 30em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main .cabecera-principal div p{
    color: white;
    text-align: center;
    margin-bottom: 1.5em;
}

/* PRIMER ARTICULO DE INDEX */
.articulo1{
    background-color: white;
}

.articulo1 h2{
    text-align: center;
    padding: 0.5em 0;
    background-color: #0070f3;
    color: white;
}

.articulo1 div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 2em 0;
}

.articulo1 div div{
    width: 20em;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 2em;
}
.articulo1 div div a img{
    height: 20em;
    width: auto;
    border-radius: 2em;
}

.articulo1 div div a img:hover{
    transform: scale(1.01);
    transition: all 0.13s;
    
}

/* FRASE ENTRE ARTÍCULOS */
.slogan h4{
    text-align: center;
    font-weight: 100;
    font-size: 1.2em;
    color: white;
    background-color: black;
    padding: 1em .5em;
}

/* ARTICULO2 DEL INDEX (SOBRE NOSOTROS) */
.articulo2{
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.articulo2 div{
    width: 50%;
    padding: 3em 10em;
}

.articulo2 div h2, 
.articulo2 div p{
    text-align: left;
    color: black;
    margin-bottom: 0.5em;
    line-height: 1.5em;
    background-color: transparent;
}

.articulo2 div p{
    margin-bottom: 2em;
}

.articulo2 div ul li, 
.articulo2 div ul li b{
    line-height: 2em;
}

.compromiso{
    background-color: #0070f3;
}

.articulo2 .compromiso h2{
    color: white;
}

/* ESTILOS PARA LA PAGINA DE PRODUCTOS */
/* PRODCUTOS DE LA PAGINA PRODUCTOS */
.productos{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;   
    background-image: url(../Multimedia/Imagenes/fondo-negro-forms.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;    
}

article.producto {
    width: 700px;
    margin: 30px;
    background: #ffffff;
    border-radius: 9px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
}

.cabezeraproducto {
    display: flex;
    padding: 25px;
}

.cabezeraproducto .imagen img {
    width: 15em;
    height: auto;
}

.cabezeraproducto .titulo h5{
    font-size: 1.1rem;
    font-weight: 600;
    color: black;
    margin-bottom: 1em;
}

.cabezeraproducto .titulo a {
    font-size: 0.9rem;
    color: black;
    text-decoration: none;
    font-weight: 600;
    padding: .5em;
    background-color: white;
    border: 1px black solid;
    border-radius: 9px;
}

.cabezeraproducto .titulo a:hover{
    background-color: rgb(241, 241, 241);
}

/* PRECIO DE LOS PRODUCTOS*/
.precio {
    margin-top: 1em;
    font-size: 1.6rem;
    font-weight: 750;
    color: #0070f3;
    text-align: left;
}

.contenido-producto {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 25px 25px;
}

/* BENEFICIOS */
.beneficios ul {
    list-style: none;
    padding: 0;
    margin: 1em;
}

.beneficios li {
    font-size: 0.95rem;
    color:black;
    margin-bottom: 6px;
}

/* BOTÓN AÑADIR */
.anadir a {
    display: flex;
    align-items: center;
    background: #0070f3;
    color: white;
    border-radius: 9px;
    font-weight: 700;
    text-decoration: none;
    padding: 14px 22px;
    border: 1px solid #0070f3;
    box-shadow: 0 8px 10px rgba(14, 165, 233, 0.35);
}

.anadir a:hover {
    border: solid 1px #0071f3bd;
    background-color: #0071f3bd;
    transition: all 0.13s;
}

/* ICONO DE BOTON AÑADIR */
.anadir svg {
    align-items: center;
    width: 22px;
    height: 22px;
    margin-right: .5em;
} 

/* ESTILOS PARA LA PAGINA DE CONFIRMACIÓN DE CONTACTO */
/* CONFIRMACIÖN FORMULARIO DE CONTACTO */
.confirmacion-contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 3em 0;
    background-image: url(../Multimedia/Imagenes/fondo-forms.png);
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
} 

.confirmacion-contacto div{
    max-width: 40em;
    text-align: center;
}

.confirmacion-contacto div h3{
    font-size: 2.5em;
    margin-bottom: .4em;
    color: black;

}

.confirmacion-contacto p{ 
    margin-bottom: .5em;
    text-align: center;
    color: black;
}

/* ESTILOS PARA LA PAGINA DE CONFIRMACION DE RECUPERACION DE CONTRASEÑA */
/* CONFIRMACION DE RECUPERACION DE CONTRASEÑA */
.correo-recuperacion{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 3em 0;
}

.correo-recuperacion div{
    max-width: 40em;
}

.correo-recuperacion div h4{
    padding-bottom: .5em;
}

/* ESTILOS PARA LA PAGINA DE PASARELA DE PAGO */
/* PAGINA DE PASARELA DE PAGO */
.pasarela-de-pago{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url(../Multimedia/Imagenes/fondo-forms.png);
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: white;
    padding: 2em 0;
}

.pasarela-de-pago .productos{
    margin-right: 3em;
}

/* SELECCIÓN DE PRODUCTOS EN PASARELA DE PAGO */
.seleccion-productos{
    background-color: white;
    padding: 1em 0;
    height: 20%;
    border-radius: 9px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
    margin-right: 1em;
    width: 30em;
}   

.seleccion-productos div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    text-align: center;
}

.seleccion-productos div div{
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.seleccion-productos div div img{
    width: 10em;
    height: auto;
}

.seleccion-productos div div h5{
    font-size: 1em;
    margin-top: .5em;
    color: black;
    padding: 0em 1em;
    text-align: left;
}

.seleccion-productos div div p{
    font-size: 1em;
    margin-top: .5em;
    color: #0070f3;
    font-size: 1.2em;
    padding: 0em 1em;
    text-align: left;
    font-weight: 600;
}

.seleccion-productos div div div{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: right;
    padding: 0 1em .6em 0;
    margin-top: auto;
}

.seleccion-productos div div div p{
    color: black;
    font-size: 1em;
    font-weight: 400;
    padding: 0;
    margin-top: 0;
    margin-right: .6em;
}

/* FORMULARIO DE LA PASARELA DE PAGO */
.pasarela-de-pago .formulario{
    background-color: transparent;
    background-image: url(none);
}

.productos-compra{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}
.productos-compra .seleccion-productos{
    margin: 0 auto 2em auto;
}

main div h3{
    margin-bottom: 0;
    padding-top: 1em;
}

.pasarela {
    background-color: white;
}

.nombre-tienda{
    color: #0070f3;
    font-size: 5em;
    margin-bottom: 0;
}

/* ESTILOS PARA LA PAGINA DE QUIENES SOMOS */
/* PAGINA DE QUIENES SOMOS */
.quienes-somos{
    background-color: white;
    color:black;
}

/* ARTICULO 1 DE QUIENES SOMOS */
.articulo1-quienesomos{
    height: 450px;
    background-image: url(../Multimedia/Imagenes/mesas-ordenadores2.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 2500px auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.articulo1-quienesomos div{
    width: 30em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.articulo1-quienesomos p{
    margin-top: 1em;
    margin-bottom: 1.5em;
    width: 55%;
}

.articulo1-quienesomos h3, 
.articulo1-quienesomos p{
    color: white;
    text-align: center;
}

.articulo1-quienesomos p{
    font-weight: 100;
}

.articulo1-quienesomos h3{
    font-size: 1.4em;
    margin-bottom: .4em;
    padding: 0 1em;
}

/* ARTICULO 2 DE QUIENES SOMOS */
.articulo2-quienesomos h3{
    text-align: center;
    font-size: 2em;
    color: black;
    margin-bottom: .4em;
}

.articulo2-quienesomos div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.articulo2-quienesomos div section{
    display: flex;
    flex-direction: column;
    width: 30em;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 18px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
    margin: 2em;
    padding: 1em;
}

/* ARTICULO 3 DE QUIENES SOMOS (VIDEO)*/
.articulo3-quienesomos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../Multimedia/Imagenes/fondo-negro-forms.png);
}

.articulo3-quienesomos video{
    padding: 5em 0;
    width: 50%;
}

/* ----> MEDIA QUERY <---- */

@media (max-width: 1100px) {
    .articulo2 {
        flex-direction: column;
    }

    .articulo2 div{
        width: 100%;
        padding: 3em 5em;
    }
    .articulo3-quienesomos video{
    padding: 5em 0;
    width: 80%;
    }
    .pasarela-de-pago{
        flex-direction: column;
    }
    .formulario{
        background-image: url(none);
    }
}

@media (max-width: 768px) {
    #contfooter{
        flex-direction: column;
    }

    #detalles, #menu{
        width: 100%;
    }

    .articulo1-quienesomos p{
        display: none;
    }

    .correo-recuperacion img{
        width: 80%;
        text-align: center;
    }

    .correo-recuperacion{
        padding: 2em 1em;
    }
}